.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004D;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal_opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;

}


.modal__content_type_form {
    background-color: white;
    position: relative;
    padding: 28px 28px 36px;
    max-width: 496px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;

}

.modal__close_type_form {
    border: none;
    background: transparent;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
}

.modal__title {
    margin: 0 0 24px;
    font-family: 'Cabinet Grotesk', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.2

}

.modal__close {
    position: absolute;
    top: 20px;
    right: 28px;
    cursor: pointer;
}

.modal__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
}

.modal__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px; 
    text-align: left;
    align-items: flex-start;
    
}

.modal__input {
    display: block;
    border: none;
    border-bottom: 1px solid;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    text-align: left;
    padding: 0;

}

.modal__radio-buttons {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    accent-color: #000;
}



.modal__label_type_radio {
    margin: 0 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: rgba(0, 0, 0, 0.5);
}


.modal__radio-buttons input[type="radio"]:checked ~ span {
    color: #000; 
   }

.modal__legend {
    margin: 24px 0 12px;
}

.modal__submit {
    width: 124px;
    height: 36px;
    padding: 0;
    margin: 24px 0 0 ;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #fff;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;

}

.modal__submit:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
    cursor: pointer;
}
