.cards {
    margin: 0 40px 0 40px;

}

.cards__text {
    margin: 0 0 34px 0;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

}

.cards__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 21px;
}

