.header {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 32px 40px 28px;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 20px;    
    line-height: 1.2;
}

.header__logo {
    margin-right: 24px;
}

.header__date-and-loc {
    margin: 0;
}

.header__username{
    margin: 0;    
}

.header__add-clothes-btn{
    margin: 0 20px 0 auto;
    border: none;
    background: transparent;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 20px;    
    line-height: 1.2;
}

.header__add-clothes-btn:hover{
    cursor: pointer;
}

.header__user-container{
    display: flex;
    align-items: center;
    gap: 12px;
}

